body{
	margin: 0;
	padding: 0;
	background: url(bg_img.jpg);
	background-size:cover;	
}

.login-box{
	background: rgba(32, 6, 49, 0.7);
	color: #fff;
}

h1{
	padding: 20px;
	text-align: center;
	font-size: 22px;
	font-family: roman;
}

.login-box p{
	margin: 0;
	padding: 0;
	font-weight: bold;
	margin-left: 200px;
}

.login-box input{
	margin-bottom: 20px; 
	width: 50%;
	margin-left: 200px;
}

.login-box input[type="text"],input[type="password"],input[type="email"]
{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	font-size: 16px;
	color: #fff;
}

.instructions{
	font-size: 13px;
	font-family: 'Times New Roman', Times, serif;
	color: whitesmoke;
}


.question-box{
    background: rgba(32, 6, 49, 0.7);
	height: 140vh;
}

.col-sm-7{
	margin-top: 60px;
	margin-left: 0px;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	color: #fff;
	font-size: 20px;
	margin-bottom: 80px;
}

.col-sm-4{
	margin-top: 60px;
	margin-bottom: 80px;
}

.question-box p{
	margin-left: 100px;
	color: #fff;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-weight: bold;
}

.question-box input[type="text"]{
	width:50%;
	margin-bottom: 60px; 
	margin-left: 95px;
}

.question-box input[type="text"]
{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	font-size: 16px;
	color: #fff;
}

.one{
	margin-left: 96px;
	margin-right: 30px;
}

.question-box input[type="submit"]{ 
	
	border: none;
	outline: none;
	height: 40px;
	background:#14083b;
	color: #fff;
	font-size: 18px;
	border-radius: 20px;
	width: 150px;
}

.question-box input[type="submit"]:hover
{
	cursor:pointer;
	background:#252ed5;
	color: #000;
}

@media only screen and (max-width:360px) {
	.login-box p{
		margin-left: 70px;
	}

	.question-box{
		height: 163vh;
	}
	
	.login-box input{
		width: 60%;
		margin-left: 70px;
	}
	
	.instructions{
		font-size: 13px;
		font-family: 'Times New Roman', Times, serif;
		color: whitesmoke;
	}
	
	.col-sm-7{
		margin-left: 10px;
		margin-bottom: 0px
	}
	
	.question-box p{
		margin-left: 100px;
	}
	
	.one{
		margin-left: 96px;
		margin-right: 30px;
	}

	.two{
		margin-left: 96px;
		margin-top: 20px;
		margin-bottom: 20px;
	}
}

/* code for backend and jS*/
/*
#skipbtn{
	display: none;
}

#page2_view{
	display: none;
}*/